[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
check50 = "*"
submit50 = "*"
style50 = "*"
emoji = "*"
pyfiglet = "*"
inflect = "*"
requests = "*"
pytest = "*"
tabulate = "*"
pillow = "*"
validators = "*"

[dev-packages]

[requires]
python_version = "3.8"
